/* ---------- Main Slider ------------ */

.slider-container {
  max-width: 1920px;
  width: 100%;
  /* height: calc(20rem + 15vw); */
  height: calc(21rem + 17vw);
  margin: 0 auto;
}

.section-main {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.single-slide {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.img-slider-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider-container .page-banner {
  position: absolute;
  margin: 0 auto;
  margin: -3rem auto 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-container .page-banner h1 {
  font-size: calc(1.2rem + 2.4vw);
}

.prev,
.next {
  position: absolute;
  background: transparent;
  /* font-size: 2.5rem; */
  font-size: calc(1.5rem + 1.5vw);
  color: white;
  cursor: pointer;
  transition: all 0.3s linear;
}
.prev:hover,
.next:hover {
  color: black;
}
.prev {
  /* left: 2rem; */
  left: calc(0.2rem + 1.5vw);
}
.next {
  /* right: 2rem; */
  right: calc(0.2rem + 1.5vw);
}

.single-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s linear;
}
.single-slide.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.single-slide.lastSlide {
  transform: translateX(-100%);
}
.single-slide.nextSlide {
  transform: translateX(100%);
}
