/* ----- plan-your-stay ----- */
.plans-buttons-section {
  display: flex;
  gap: 1.5rem;
}

.plans-buttons-section button {
  background-color: rgba(255, 68, 0, 0.757);
}

.plans-buttons-section button.active {
  background-color: orangered;
}

.plans-list {
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}

.plans-list-info {
  margin: 3rem 0 2rem;
}

.single-plan {
  border: 1px solid #000;
  color: #000;
  padding: 1rem;
  min-height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
}

.single-plan-btn-editing {
  margin: 0 auto;
}

.plans-form {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.single-plan-body h5 {
  display: flex;
  align-items: flex-start;
}

.single-plan-body h5 svg {
  margin-top: 4px;
  margin-right: 0.75rem;
}

.single-plan-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.single-plan-btn {
  padding: 0.6rem 0.75rem;
  font-size: 0.85rem;
  line-height: 1;
  background-color: #000;
  color: #fff;
}

.single-plan-btn:hover {
  background-color: #000000c8;
}

.add-new-plan-btn {
  margin: 0;
}

.add-new-plan-input {
  padding: 0.74rem;
}

/* ----- MEDIA QUERIES ----- */
@media screen and (max-width: 1199px) {
  .plans-list {
    grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
  }
}

@media screen and (max-width: 540px) {
  .plans-list {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
