/* Room single tile display CSS & Rooms list CSS */

.room {
  transition: all 0.3s linear;
  /* width: 90%; */
}

.room:hover .room-info h5 {
  color: #555555;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  display: block;
  transition: all 0.3s linear;
}

.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  color: #fff;
  padding: 0.8rem 1rem 0.4rem 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: all 0.3s linear;
}

.price-top h5 {
  margin-bottom: 0;
}

.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}

.room:hover .img-container {
  background: rgba(0, 0, 0, 0.75);
}

.room:hover .img-container img {
  opacity: 0.3;
}

.img-container:hover a {
  color: #000;
}

.img-container:hover .price-top {
  opacity: 0;
}

.room:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
  padding: 0.5rem 1rem;
  background: #000000;
  color: #fff;
}

.room:hover .room-link:hover {
  background: orangered;
  color: #fff;
}

.room-info {
  background: #fff;
  padding: 0.7rem 0.6rem 0.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.room-info h5 {
  color: #000;
}

.roomslist {
  padding: 2rem 0 5rem;
}

.roomslist-center {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 35px;
  column-gap: 4%;
  justify-content: flex-start;
}

@media screen and (min-width: 540px) {
  .room {
    width: auto;
    max-width: 48%;
  }
}

@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 100%;
    max-width: 1200px;
  }

  .room {
    width: auto;
    max-width: 30.5%;
  }
}
/* end of roomlist */
