/* single room*/

.page .single-room {
  margin-top: 5rem;
}

.single-room-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
  padding: 2rem 0;
}

.single-room-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}

.desc,
.info {
  margin: 1rem 0;
}

.desc h3 {
  text-transform: capitalize;
}

.info h6 {
  font-weight: 600;
}
.info h6 span {
  font-weight: 300;
}

@media screen and (min-width: 992px) {
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }

  .info {
    padding-left: 3rem;
  }
}
