/* ----- Rooms Filter ----- */

.filter-container {
  padding: 0 0 2rem;
}

.reset-padding {
  padding: 0;
}

.data-fields-group {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
  background: #fff;
}

.filter-form {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0px 1px 19px 1px rgba(0, 0, 0, 0.15);
}

.form-group {
  text-transform: capitalize;
}

.form-checkboxes-group {
  display: flex;
  flex-direction: column;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.custom-checkbox label {
  margin: 0 0 0 0.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.custom-checkbox svg {
  margin-top: -0.5rem;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #bcbcbc;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(204, 204, 204, 0.25);
}

.single-extra label {
  display: inline-block;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.no-results-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

.reset-button {
  width: 100%;
}

/* ----- Select icon stylowanie ----- */
.select-container {
  position: relative;
}

.select-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* ----- Room price range iput custom stylowanie ----- */
.room-price-range:focus {
  box-shadow: none;
  background: #c5c5c5;
  border-color: #c5c5c5;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  padding: 1px 0;
  cursor: pointer;
  outline: none;
  height: 2px;
  background: #c5c5c5;
  margin-top: 1.6rem;
  border: 0;
  border-radius: 0;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #f50;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #f50;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */
input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255, 85, 0, 0.1);
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
}
