/* ----- user-account-page.css ----- */

.user-account-page {
  margin-top: 4rem;
}

.acc-container {
  margin-top: 3.5rem;
}

.user-account-page .acc-heading {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
  grid-gap: 2rem;
  margin: 2rem 0;
}

.user-account-page .acc-heading .active h4 {
  color: orangered;
}
.user-account-page .acc-heading h4 {
  font-weight: 700;
}

.user-account-page .acc-heading .column {
  padding: 1rem 1.5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 1px 19px 1px rgba(0, 0, 0, 0.12);
}

.user-account-page .log-info {
  box-shadow: none;
  background-color: transparent;
}

.user-account-page .acc-heading .column:not(:last-child):hover h4 {
  color: orangered;
}

.user-account-page .acc-heading .column.active-elem h4 {
  color: orangered;
}

.user-account-page .acc-heading .log-info {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}
.user-account-page .acc-heading button {
  margin-top: 0.5rem;
}

.user-account-page .bookings-info {
  text-align: center;
}

/* ----- React transition group CSS */
.css-transition-enter {
  opacity: 0.01;
}

.css-transition-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.css-transition-enter-done {
  opacity: 1;
}

.css-transition-exit {
  opacity: 1;
}

.css-transition-exit-done {
  opacity: 0;
}

.css-transition-appear {
  opacity: 0.01;
}

/* ----- user-account-page-contact-info custom styling ----- */
.user-account-page-contact-info {
  margin-top: 100px;
}

.user-account-page-contact-info .faq-page-container {
  margin: 0;
  padding: 2rem 0 6rem 0;
  background-color: transparent;
}

.user-account-page-contact-info .contact-column {
  background-color: #7e942f;
  box-shadow: 0px 1px 19px 1px rgba(0, 0, 0, 0.12);
  justify-content: flex-start;
}
.user-account-page-contact-info .contact-column .faq-column-title {
  color: #ffffffa3;
}
.user-account-page-contact-info .contact-column a,
.user-account-page-contact-info .contact-column p {
  color: #fff;
}

.user-account-page-contact-info .faq-column-icon {
  color: #fff;
  margin-top: -7.2rem;
  background-color: orangered;
}
