/* ----- user-account-page.css ----- */

.user-account-page {
  margin-top: 3rem;
}

.user-account-page .heading {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 2rem;
  align-items: end;
}

.user-account-page .heading button {
  margin-top: 0.5rem;
}
