/* ---- Specials folder CSS  ----- */

.hotel-specials {
  padding: 3rem 0 5rem 0;
}

.specials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.hotel-special {
  text-align: center;
  background: #fff;
  padding: 1.5rem 1.5rem 2rem;
  box-shadow: 0px 1px 19px 1px rgba(0, 0, 0, 0.1);
}

.hotel-special span {
  display: inline-block;
  color: #849b31;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.hotel-specials p {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .hotel-special {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .hotel-special {
    width: auto;
    max-width: 31%;
  }
}
