/* --- booked-room-details-tile CSS ---*/

.booked-room-details .sr-form-group h6 span {
  font-weight: 600;
}

.booked-room-details .sr-column {
  grid-row-gap: 1rem;
}

.booked-room-details .sr-form-group {
  text-transform: none;
}

.booked-room-details .sr-form-head {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 0;
}

.booking-details-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 1rem;
}

.material-icons.edit-booking {
  color: green;
}

.material-icons.delete-booking {
  color: red;
  cursor: pointer;
}

.booked-room-details .room-title-remove-br {
  display: none;
}
