/* ----- Booking Room Form CSS ----- */

.sr-filter-container {
  margin-bottom: 3rem;
  background: #fff;
}

.sr-form .show-hide {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.sr-form.active-form .show-hide {
  opacity: 1;
  max-height: 2000px;
  transition: all 1s ease-in-out;
}

.sr-all-groups-button {
  padding: 2rem;
}

.sr-form-head {
  background-color: #000000dd;
  /* margin-bottom: 1.8rem; */
  padding: 1rem 4rem 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sr-form-head h5 {
  color: #fff;
}

.sr-form-head svg {
  color: #fff;
  width: 2rem;
  height: 2rem;
}

.sr-form-head svg:hover {
  color: orangered;
}

.sr-form-all-groups {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
  align-items: start;
}

.sr-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sr-form-group {
  text-transform: none;
}

.sr-special {
  grid-column: 1/3;
}

.sr-form-group label {
  color: #000;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
}

.sr-select-container {
  position: relative;
  display: flex;
}

.sr-select-icon {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  pointer-events: none;
}

.sr-book-button {
  width: 100%;
  margin-top: 2.5rem;
}

.form-control::placeholder {
  color: #00000046;
  opacity: 1; /* Firefox */
}

.form-control::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #00000046;
}

@media screen and (min-width: 1200px) {
  .sr-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(244px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 1.5rem;
  }
  .sr-form-group textarea.form-control {
    min-height: 5.5rem;
  }
}
