/* --- bookings CSS ---*/

.booking-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.booking-card {
  width: 100%;
  padding: 25px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}

.booking-card .guests-number {
  background: var(--secondary);
  color: #fff;
  border-radius: 6px;
  width: auto;
  display: inline-block;
  padding: 20px;
  line-height: 0px;
}

/* .book-room-form elements */
.book-room-form {
  background: #fff;
  padding: 20px;
  /* max-width: 480px; */
  margin: 0 auto;
  border-radius: 6px;
}

.book-room-form input,
.book-room-form textarea,
.book-room-form select {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
}

.booking-card .buttons {
  text-align: right;
}

.booking-card i {
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
}
