/* --- booked-room-details-tile CSS ---*/

.booked-room-details .sr-form-group h6 span {
  font-weight: 600;
}

.booked-room-details .sr-column {
  grid-row-gap: 1rem;
}

.booked-room-details .sr-form-group {
  text-transform: none;
}

.booked-room-details .sr-form-head {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 0;
}

.booking-details-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 1rem;
}

.sr-form-buttons .material-icons.edit-booking {
  color: #fff;
  background-color: #000;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.sr-form-buttons .material-icons.delete-booking {
  color: #fff;
  background-color: #000;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.sr-form-buttons .material-icons:hover {
  background-color: orangered;
}

.booked-room-details .room-title-remove-br {
  display: none;
}
