.our-rooms-page-cover {
  min-height: 500px;
  background: url("../images/single-page-cover-bg-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-banner {
  padding: 50px;
  background-color: #ffffffd6;
  color: #000;
  text-align: center;
  max-width: 70%;
}
