.our-rooms-page-cover {
  background-color: #f2f2f2;
  width: 100%;
  min-height: 560px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.our-rooms-page-cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.page-banner {
  padding-top: calc(1rem + 1vw);
  padding-right: calc(2rem + 1vw);
  padding-bottom: calc(1.5rem + 1vw);
  padding-left: calc(2rem + 1vw);
  background-color: #ffffffde;
  color: #000;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
