.our-rooms-page-cover {
  width: 100%;
  min-height: 560px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-rooms-page-cover::after {
  background-color: #06060624;
}

.page-banner {
  padding: 50px;
  background-color: #ffffffd6;
  color: #000;
  text-align: center;
  max-width: 55%;
}
