/* ----- rating-form.css ----- */

.ratings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  background-color: #fff;
}

.rating-head {
  padding: 2rem;
  background-color: #000;
  width: 100%;
}

.rating-head h3 {
  font-size: calc(0.7rem + 1.4vw);
  line-height: 1.2;
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
}

.ratings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.rating-stars-row {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.ratings-form textarea {
  width: 100%;
  margin-bottom: 1.5rem;
}

/* --- Submitted rating form ---- */
.thank-you-message {
  margin-bottom: 3rem;
  padding: 0.75rem 2rem;
  text-align: center;
  background-color: #0000000f;
}

.rating-quote {
  position: relative;
}

.selected-star {
  color: orangered;
}

.hovered-star:not(.selected-star) {
  color: orange;
}

.initial-submit-form svg:not(.selected-star):hover {
  color: orange;
}
